
@import url('https://fonts.googleapis.com/css?family=Roboto:100');
@font-face {
			font-family: "GothamProRegular";
			src: url("../fonts/GothamProRegular/GothamProRegular.eot");
			src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
			url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "GothamProBold";
			src: url("../fonts/GothamProBold/GothamProBold.eot");
			src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
			url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "GothamProMedium";
			src: url("../fonts/GothamProMedium/GothamProMedium.eot");
			src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
			url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
@font-face {
			font-family: "GothamProLight";
			src: url("../fonts/GothamProLight/GothamProLight.eot");
			src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
			url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
			url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
	}
body,html {
    font-family:sans-serif;
    font-size: 100%;
    min-width: 700px;
    width: 100%;
    margin: 0 auto; 
}
*{
    padding: 0;
}
.container{
    padding-left: 110px;
    padding-right: 110px;
    max-width:1498px;
    margin: 0 auto; 
}

.vertical-align {
    display: flex;
    align-items: center;
}
h1{
    font-size: 2.25rem;
    font-family: "GothamProBold";
    text-transform: uppercase;
}
h2{ font-family: "GothamProBold";
    font-size: 1.875rem;
    color:#126f85;  
}
h3{
    font-family: "GothamProlight";
    font-size: 1.5rem;
    color:#126f85; 
}
li{
    list-style: none;
}
img{
  max-width: 100%;
  height: auto;
}

    /*/////////// Header  //////////// */

header{
    background:url(header_bg_1.png) 0px -210px ,
               url(header_bg_2.png) 0px 0px ;
    background-size: cover;
    background-repeat: no-repeat; 
    opacity: 0.5;
} 
header .container{
    max-width:1920px;
   padding: 30px 30px 70px 30px;
}
header:hover{
    opacity: 1;
}
header .left-menu{
    display: inline-block;  
}
header .right-menu{
    display: inline-block; 
    vertical-align: middle;
}
header h4{ 
    font-family: "arial";
    font-size: 0.875rem;
    color:#27466a;   
}
header h3{
    font-size:0.875rem;
    margin-bottom: 158px;
}
hr{
    width:175px;
    height: 2px; 
    background: #27466a;
    display: block;
    text-align: left;
}
header .left-menu_nav{
    display: inline-block;
    margin-bottom: 29px;
}
header .right-menu_nav{
    color: white;
    text-align: right;
    margin-bottom: 29px;
}
header .right_menu_nav a{
    color:white;
}
header .right_menu_nav a:hover{
    color: white;
    border-bottom: 2px solid white;
}
header ul{
    display: inline-block;
    margin: 0;
    padding: 0;
    }
header li{
    margin-bottom: 25px;
}
header li:last-child{
     margin-bottom:0;
}
header a{
    font-family: "GothamProMedium";
    font-size:0.875rem;
    color:#27466a;
    text-transform: uppercase;  
}
header a:hover{
    color:#27466a; 
    text-decoration: none;
    border-bottom: 2px solid #27466a;
}
.header_title1{
    display: inline-block;
    vertical-align: top;
    color:#126f85;
    margin-top: -30px;
    margin-left: 362px;
}
.header_title2{
    display: block;
    margin-left: 981px;
    color: white; 
}
.header_button{
    display: inline-block; 
    height: 46px;
    width:184px;
    background: transparent;
    border:2px solid white;
    border-radius: 23PX;
    color: white;  
}
.header_button:hover{
    background: white;
    border:2px solid white;
    border-radius: 23px;
    color: #328295;  
}
.test{
    text-align: right
}

 /*/////////// block1 //////////// */

.block1{
    padding-top:50px;
    padding-bottom: 74px;
}
.block1_text h3{
    margin-bottom: 50px;
    max-width: 1191px;
    font-family: "GothamProLight";  
}
.block1_item_container{
    display: inline-block;
    max-width: 1208px;
    margin: 0 -20px;
}
.block1_item{
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width:18%;
    margin:0 10px;
}
.block1_item:nth-child(2n){
    margin-top: 150px;
}

.block1 .block1_item h3{
    font-size: 1.125rem;
    text-align: center;
    max-width: 263px;
}

/*/////////// block2 //////////// */
.block2{
    padding-top: 80px;
    padding-bottom: 153px;
    text-align: center;  
    position: relative;
    max-width: 1920px;
    width: 100%;
    margin:  auto;
}
.block2 h2{
    margin-bottom: 47px;
}
.block2 .sl{
    margin: 0 auto;
    margin-bottom: 39px;
    
}
.sl_item{
    max-height: 475px;
    max-width: 1124px;
}
.left_glass{
    width: 400px;
    height: 475px;
    position: absolute;
    top:164px;
    background:white;
    opacity: 0.7;
}
.right_glass{
    position: absolute;
    width: 400px;
    height: 475px;
    top:164px;
    right:0px;
    background:white;
    opacity: 0.7;
}
.item1{
    background-image: url("/css/sl1.png");
}
.item2{
    background-image: url("/css/sl2.png");
}
.item3 {
    background-image: url("/css/sl3.png");
}
.block2_button{
    width:281px;
    height:49px;
    border-radius:24px;
    background: transparent;
    color:#126f85;
    border:1px solid #126F85;
    cursor: pointer;
}
.block2_button:hover{
    background: #126f85;
    color:#ffffff;
}
/*/////////// block3 //////////// */
.block3 {
    padding: 0px 0 40px 0px; 
}
.com{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
.block3_item{
    display: inline-block;
    
    margin-top: 40px;
    box-shadow: 0 0 19px rgba(0,0,0,0.1);
}

.block3_item:nth-child(5){
   margin-right: 0;
}
    /*/////////// block4 //////////// */
.block4{
    background:url("block4_bg.png");
    background-repeat:no-repeat;
    background-size: cover;
    padding-top:71px;
    padding-bottom:54px;  
}
.block4_row{
    margin-top: 83px;
    margin-left: -30px;
    display: flex;
    max-width: 1284px;
    justify-content: space-between;
    flex-wrap:wrap;
    align-items: center;  
}
.block4_item{
    display: inline-block;
    text-align: center;
    width: 278px;
    margin-bottom: 83px;
}
.block4_title h2{
    color:white;
}
.up{
   margin-top: 88px;
   margin-bottom:76px;    
}
.block4_button{
    display: block;
    background: transparent;
    border:2px solid white;
    border-radius:24px;
    width:249px;
    height: 49px;
    color: white; 
    cursor: pointer; 
    margin: auto; 
}
.block4_button:hover{
      background: #ffffff;
      color:#126f85;
      border: 2px solid white;     
}
             /*/////////// block5 //////////// */

.block5{
    padding-top: 140px; 
    padding-bottom:108px;
}
.block5_title{
    margin-bottom: 26px;
    padding: 0;
}
.block5_item img{text-align: center;}
        /*/////////// block6 //////////// */

.block6{
    background-image:url(block6_bg.png);
    background-repeat:no-repeat;
    background-size: cover;
    text-align: center;
    padding:75px 20px 75px 20px;
} 
.block6 h2 {
    font-size:36px;
    color:white;
    margin-bottom: 30px;
   
}
.block6 h3{
    color: white;
    font-size: 24px;
    margin-bottom: 47px;
}
.block6 input {
    background:transparent;
    color: white;
    border-radius:10px;
    border:2px solid white;
    height: 44px;
    width:345px;
    padding-left:21px;
}
.block6 .input3{
    height:96px;
    width:700px;
    margin-top: 12px
}
.block6 .block6_btn{
    margin-bottom: 46px;
    margin-top: 52px; 
}
.block6 button{
    border-radius: 25px;
    background: transparent;
    font-family: "GothamProBold";
    font-size:1.125rem;
    border: 2px solid white;
    padding: 15px 80px;
    color: white;
}
.block6 button:hover{
      background: #ffffff;
      color:#126f85;
      border: 2px solid white; 
      cursor: pointer;
}
  /*/////////// block7 //////////// */
.block7{
    padding:102px 0 56px 0px;
}
.block7 h3{
    color: black;
}
.block7_item{
    display: inline-block;
    margin-right: 50px;
}
.block7_item:nth-child(4){
    margin-right: 0px;
}
.block7_txt{
    display: inline-block;
    max-width: 251px;
    vertical-align:middle;
    color: black;
}

  /*/////////// block8 //////////// */

.block8{
    background-size:cover;
}
  /*/////////// footer //////////// */

footer{
    background-size:cover;
    background-image:url(footer_bg.png); 
    background-repeat:no-repeat;  
    padding-top:56px;
    padding-bottom: 64px;
}
.footer_logo{
    display: inline-block;
    margin-right: 44px;
}
footer .txt1{
    margin-top: 14px;
    text-align: center;
    font-size: 0.875rem;
    display: block;
}
footer .txt2{
    text-align: center;
    text-transform: uppercase;
    font-family:"arial";
    font-size: 1.14rem;
    font-weight: bold;
}
footer .txt3{
    display: inline-block;
    font-size:1.375rem;
    margin-right: 85px;
  
}
footer .nav{
    margin-left: 50px;
    display: inline-block;
    text-transform:uppercase;
    font-size:0.875rem;
    color: white;
    font-family: "GothamProMedium";
    vertical-align: top;
}
footer .nav1{
    margin-right: 112px;
}
footer a{
    color: white;
}
footer a:hover{
    color:white; 
}
footer li{
    margin-bottom: 20px;
}
footer li:nth-child(6){
    margin-bottom: 0;
}
footer h2{
    font-family:"arial";    
}
footer p {
    display:block; 
}

/*MEDIA QUERIES*/
@media (max-width: 1385px){
    .block7 .offset-1{
       margin:0;
    }
    .block1 .offset-1{ 
       text-align: center;
    }
    

    .block1_item h3{
        max-width: 150px;
        margin: auto;
    }
    
  
    .block1_item:nth-child(4n){
         margin-left: 0px;
    }
}
@media (max-width: 1340px){
    footer .nav{
        margin-left: 0;
        margin-right: 35px;   
    }
}
    
@media (max-width: 1103px){
    
    .block1_item_container{
    margin: 0 -10px;
}
.block1_item{

    width:45%;
    margin:30px 20px;
}
    .block1_item:nth-child(2n){
    margin-top: 30px;
}
    .block4 {
        text-align: center;
        padding-left: 20px;
    }
    .container{
        margin: 0; 
        padding: 50px;
    }
    .footer_logo{
        margin-right: 40px;
        margin-left: 100px;
    }
    footer .nav{
        text-align: center;
        margin-top: 45px;
        margin-left: 0;
    }
    footer .nav1{
         margin-left: 0;
    }
    footer .container{
        text-align: center
    }
    footer .txt3{
        margin-right: 50px;
        text-align: left;
        width: 300px;
    }
}
@media (max-width: 855px){
    body,html {
    font-size: 80%;
     
}
    .block1_item_container{
        text-align: center;
    }
    .block1_item{
    width:30%;
}
    .block1_item:nth-child(2n){
    margin-top: 30px;
}

    .block4{
        padding-right: 55px;
        padding-left: 55px;
    }
    .footer_logo{
        margin-left: 70px;
    }
    footer{
        padding: 30px;
    }
}

@media (max-width: 794px) {
    .block1 .offset-1{
        text-align: center;
        margin: auto;
        width: 550px;
    }

    .block3 {
          text-align: center;
          padding-left: 0;
    }
    .block3_item{
        margin-right: 10px;
    }
    .block4_item{
        text-align: center;
        margin-bottom: 35px;
    }
    .block5_item{
        text-align: center;
    }
    .block5{
        text-align: center;
        padding: 35px 0 35px 0;
    }
    .block5 .offset-1, .offset-2{
        margin: 0;
    }
    .block5_item{
        text-align: center;
        display: inline-block;
    }
    .block5 h3{
        width:350px;
    }
    .block7{
        text-align: center;
        padding-left: 0;
    }
    .block7_item{
        display: inline-block;
        margin: auto
    } 
}



